# Build artifacts
*.o
*.tar
*.tar.gz
*~
*.c~
*.h~
*.c1~
*.orig
core
gmon.out
octave-core

# Legacy version-control metadata recovered/superseded during 2026 git import
# (bzr/CVS/nested-git history has been imported into this repo's git history;
#  these directories are left on disk but excluded from tracking)
.bzr/
CVS/
.git/

# Compiled binaries (source has no extension; these are the built executables)
md1D/evolv/md1D
md1D/md1D
md1D/tests_optim/test_optim2
md1D/utils/add_col
md1D/utils/diffsum
md1D/utils/fft_test
md1D/utils/lire_ligne
md1D/utils/lire_N1N2
md1D/utils/lire_plot
md1D/utils/lire_string
md1D/utils/lire_tab
md1D/utils/profilGen
md1D/utils/test2
md1D/version_shakti_01/md1D
md2D/carto/carto
md2D/md2D
md2D/Optimization_var_lambda/carto
md2D/Optimization_var_lambda/optim
md2D/Optimization_var_lambda/optimiz
md2D/Optimization_var_lambda/tests_mise_au_point/test_optim
md2D/Optimization_var_lambda/tests_mise_au_point/test_optim2
md2D/optim/optim
md2D/optim/optim2
md2D/optim/refractive_index
md2D/optim/sub_tanpsicosdelta
md2D/utils/add_col
md2D/utils/diffsum
md2D/utils/fft_test
md2D/utils/lire_ligne
md2D/utils/lire_N1N2
md2D/utils/lire_plot
md2D/utils/lire_string
md2D/utils/lire_tab
md2D/utils/lire_tab2
md2D/utils/test2
md3D/md3D
md3D/utils/add_col
md3D/utils/diffsum
md3D/utils/fft_test
md3D/utils/lire_ligne
md3D/utils/lire_N1N2
md3D/utils/lire_plot
md3D/utils/lire_string
md3D/utils/lire_tab
md3D/utils/profilGen
md3D/utils/profilGen2D
md3D/utils/test2
other/Levenberg-Marquardt/lmdemo
other/md1D_mai2007/md1D
other/md1D_oct2006/evolv/md1D
other/md1D_oct2006/md1D
other/RCWA_juin2007/md2D
other/utils_md1D/lire_donnees
other/utils_md1D/lire_plot
other/utils_md1D/lire_string
other/utils_md1D/tests
PourAlex/utils/profilGen
RCWA/carto/carto
RCWA/md2D
RCWA/optim2/optim2
RCWA/optim2/refractive_index
RCWA/optim2/sub_tanpsicosdelta
RCWA/Optimization_var_lambda/carto
RCWA/Optimization_var_lambda/optim
RCWA/Optimization_var_lambda/optimiz
RCWA/Optimization_var_lambda/tests_mise_au_point/test_optim
RCWA/Optimization_var_lambda/tests_mise_au_point/test_optim2
RCWA/optim/optim
RCWA/optim/optim2
RCWA/optim/refractive_index
RCWA/optim/sub_tanpsicosdelta
RCWA/utils/add_col
RCWA/utils/diffsum
RCWA/utils/fft_test
RCWA/utils/lire_ligne
RCWA/utils/lire_N1N2
RCWA/utils/lire_plot
RCWA/utils/lire_string
RCWA/utils/lire_tab
RCWA/utils/profilGen
RCWA/utils/test2
utils/add_col
utils/interp
utils/lire_tab
utils/lire_tab2
utils/max
utils/profilGen
utils/refractive_index
utils/re_im_2_mod_arg

# Original nested utils git repo (github.com/leoofnature/utils), kept as a backup
# after its full history was extracted and merged into this repo's history above
utils/_old_nested_git_repo_2010-2018/
